/* Pour appeler l'id logo, j'utilise le sélécteur # = le nom logo  */
#logo {
  color: rgb(255, 0, 0);
}
/* Pour appeler un élément HTML dans un selecteur j'utilise son nom  */
nav {
  display: flex;
  /* Pour gerer l'allignement vertical des enfants de ma div j'utilise align-items  */
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 15px;
}

#img-header {
  background-image: url(../img/hamburger.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
