@font-face {
  font-family: "playfairDR";
  /* creation d'un alias/raccourci  */
  src: url(../font/PlayfairDisplay-Regular.ttf);
}
/* importation des fonts  */

* {
  margin: 0;
  padding: 0;
  font-family: "playfairDR", serif;
}
/* Reset dimensions */

/* Pour appeler l'id logo, j'utilise le sélécteur # = le nom logo  */
#logo {
  color: black;
  padding: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 360;
}
/* Pour appeler un élément HTML dans un selecteur j'utilise son nom  */
nav {
  display: flex;
  /* Pour gerer l'allignement vertical des enfants de ma div j'utilise align-items  */
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
  position: fixed;
  /* le fixed permet de garder la barre de nav fix quand on scroll */
z-index: ; 
width: 100%;
/* permet de superposer les layers mais ne fonctionne pas avec une position statique (par defaut) */

}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 15px;
}

#img-header {
  background-image: url(../img/hamburger.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

h1 {
  padding: 1rem;
}
